

/*Import da fonte Chilanka*/
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');


body {
	background-color: #000;
	background-image: url("sources/img/panodefundo.png");

    font-family: 'Chilanka', cursive;
}
#menu-bar{
	background-color: #000;
	margin-top: 0em;
	width: 100%;
	border-bottom: 0.2em solid #d5d5d3;
}

#menu-bar #logo{
	float: left;
}

#menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #000;*/
  font-size: 2em;
}

#menu-bar li {
  float: right;
}

#menu-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu-bar li a:hover {
	color: black;
  background-color: #d5d5d3;
}

#container {
	/*align-items: auto; */
	width: 88em;
	background-color: #000;
	color: white;
	margin: auto;
	margin-top: 2em; 
}

#container #img-central{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


#titulo-principal{
	text-align: center;
	font-size: 4em;
	margin-bottom: 0;
}

#subtitulo-principal{
	text-align: center;
	margin-top: 0;
	font-size: 3.1em;
}

#container .bloco{
	width: 100%;
}

.titulo-secundario {
	margin-left: 1em;
	margin-bottom: 0em;
	font-size: 2em;
}

.bloco{
	padding: 1em;
	border: 0.2em solid #d5d5d3;
}
.bloco 